
 <div class="slider">
            <ul class="slides">
                <li>
                    <img src="/sanfrancisco.gif">
                    <div class="caption bottom-align">
                        <h1>San Francisco</h1>
                    </div>
                </li>
                <li>
                    <img src="/london.gif">
                    <div class="caption left-align">
                        <h1>London</h1>
                    </div>
                </li>
                <li>
                    <img src="/gibraltar.gif">
                    <div class="caption left-align">
                        <h1>Gibraltar</h1>
                    </div>
                </li>
            </ul>
        </div>
        <!--your code end-->


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
