<h1>Profile Page</h1>
<table>
  <tr>
    <td>
      <img src=""/>
      <br>
      <div>
        Name: <%= @user.first_name %> <%= @user.last_name %><br>
        Location: <%= @user.location %>
      </div>
      <form action='/users/<%= @user.id %>/edit' method='get'>
          <button> Edit Profile </button>
        </form>
    </td>

    <td>
    </td>
  <tr>
</table>
