<h1>Profile Page</h1>
<table>
  <tr>
    <td>
      <img src=""/>
      <br>
      <div>
        Name: <%= @user.first_name %> <%= @user.last_name %><br>
        Location: <%= @user.location %>
      </div>
      <a href="/users/:id/edit"><button>Edit Profile</button></a>
    </td>

    <td>
    </td>
  <tr>
</table>
